# Quest 1

In [81]:
#importing required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [82]:
#reading data files

df_ssn = pd.read_csv("sunspots_smooth.csv")
df_solWind = pd.read_csv("solar_wind.csv")
df_posSat = pd.read_csv("positions_sat.csv")
df_labels = pd.read_csv("labels(dst).csv")

In [83]:
#converting timedelta datatype to time datatype

df_ssn["timedelta"] = pd.to_timedelta(df_ssn["timedelta"])
df_solWind["timedelta"] = pd.to_timedelta(df_solWind["timedelta"])
df_posSat["timedelta"] = pd.to_timedelta(df_posSat["timedelta"])
df_labels["timedelta"] = pd.to_timedelta(df_labels["timedelta"])

In [84]:
df_ssn.head()

    period timedelta  smoothed_ssn
0  train_a    0 days          65.4
1  train_a   13 days          72.0
2  train_a   44 days          76.9
3  train_a   74 days          80.8
4  train_a  105 days          85.4

In [85]:
#checking null values 
df_solWind.isnull().sum()

period              0
timedelta           0
bx_gse         325888
by_gse         325888
bz_gse         325888
theta_gse      325888
phi_gse        326388
bx_gsm         325888
by_gsm         325888
bz_gsm         325888
theta_gsm      325888
phi_gsm        326388
bt             325888
density        684890
speed          689555
temperature    811768
source         316816
dtype: int64

In [86]:
#Dropping null values
df_solWind = df_solWind.dropna()

In [87]:
#checking null value count after dropping them in previous step
df_solWind.isnull().sum()

period         0
timedelta      0
bx_gse         0
by_gse         0
bz_gse         0
theta_gse      0
phi_gse        0
bx_gsm         0
by_gsm         0
bz_gsm         0
theta_gsm      0
phi_gsm        0
bt             0
density        0
speed          0
temperature    0
source         0
dtype: int64

In [88]:
df_ssn.isnull().sum()

period          0
timedelta       0
smoothed_ssn    0
dtype: int64

In [89]:
df_posSat.isnull().sum()

period             0
timedelta          0
gse_x_ace          0
gse_y_ace          0
gse_z_ace          0
gse_x_dscovr    4794
gse_y_dscovr    4794
gse_z_dscovr    4794
dtype: int64

In [90]:
df_labels.isnull().sum()

period       0
timedelta    0
dst          0
dtype: int64

In [91]:
#Combining all datafiles into a single merged file

merged_df1 = pd.merge(df_solWind, df_ssn, on=['period','timedelta'], how='left').fillna(method="ffill")
merged_df2 = pd.merge(merged_df1, df_posSat, on=['period','timedelta'], how='left').fillna(method="ffill")
merged_df = pd.merge(merged_df2, df_labels, on=['period','timedelta'], how='left').fillna(method="ffill")

In [92]:
merged_df.head()

,period,timedelta,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,bx_gsm,by_gsm,bz_gsm,...,temperature,source,smoothed_ssn,gse_x_ace,gse_y_ace,gse_z_ace,gse_x_dscovr,gse_y_dscovr,gse_z_dscovr,dst
0,train_a,0 days 00:00:00,-5.55,3.00,1.25,11.09,153.37,-5.55,3.00,1.25,...,110237.0,ac,65.4,1522376.9,143704.6,149496.7,NaN,NaN,NaN,-7.0
1,train_a,0 days 00:01:00,-5.58,3.16,1.17,10.10,151.91,-5.58,3.16,1.17,...,123825.0,ac,65.4,1522376.9,143704.6,149496.7,NaN,NaN,NaN,-7.0
2,train_a,0 days 00:02:00,-5.15,3.66,0.85,7.87,146.04,-5.15,3.66,0.85,...,82548.0,ac,65.4,1522376.9,143704.6,149496.7,NaN,NaN,NaN,-7.0
3,train_a,0 days 00:03:00,-5.20,3.68,0.68,6.17,146.17,-5.20,3.68,0.68,...,82548.0,ac,65.4,1522376.9,143704.6,149496.7,NaN,NaN,NaN,-7.0
4,train_a,0 days 00:04:00,-5.12,3.68,0.49,4.62,145.72,-5.12,3.68,0.49,...,94269.0,ac,65.4,1522376.9,143704.6,149496.7,NaN,NaN,NaN,-7.0

In [93]:
#checking null values in merged_data
merged_df.isnull().sum()

period                0
timedelta             0
bx_gse                0
by_gse                0
bz_gse                0
theta_gse             0
phi_gse               0
bx_gsm                0
by_gsm                0
bz_gsm                0
theta_gsm             0
phi_gsm               0
bt                    0
density               0
speed                 0
temperature           0
source                0
smoothed_ssn          0
gse_x_ace             0
gse_y_ace             0
gse_z_ace             0
gse_x_dscovr    2968436
gse_y_dscovr    2968436
gse_z_dscovr    2968436
dst                   0
dtype: int64

In [94]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7571081 entries, 0 to 7571080
Data columns (total 25 columns):
 #   Column        Dtype
---  ------        -----
 0   period        object
 1   timedelta     timedelta64[ns]
 2   bx_gse        float64
 3   by_gse        float64
 4   bz_gse        float64
 5   theta_gse     float64
 6   phi_gse       float64
 7   bx_gsm        float64
 8   by_gsm        float64
 9   bz_gsm        float64
 10  theta_gsm     float64
 11  phi_gsm       float64
 12  bt            float64
 13  density       float64
 14  speed         float64
 15  temperature   float64
 16  source        object
 17  smoothed_ssn  float64
 18  gse_x_ace     float64
 19  gse_y_ace     float64
 20  gse_z_ace     float64
 21  gse_x_dscovr  float64
 22  gse_y_dscovr  float64
 23  gse_z_dscovr  float64
 24  dst           float64
dtypes: float64(22), object(2), timedelta64[ns](1)
memory usage: 1.4+ GB

In [95]:
merged_df['timedelta'] = merged_df['timedelta'].astype(object)

In [96]:
merged_df = merged_df.dropna()

In [97]:
merged_df.shape

(4602645, 25)

In [98]:
x_train = merged_df.drop(columns = ['period', 'timedelta', 'dst'], axis=1)

In [99]:
x_train.sample(10)

,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,bx_gsm,by_gsm,bz_gsm,theta_gsm,phi_gsm,...,speed,temperature,source,smoothed_ssn,gse_x_ace,gse_y_ace,gse_z_ace,gse_x_dscovr,gse_y_dscovr,gse_z_dscovr
4428882,-2.90,0.26,6.08,64.39,174.92,-2.90,-0.85,6.03,63.35,196.32,...,372.00,29428.0,ac,69.5,1529814.5,232446.0,-118549.7,1536792.0,238772.0,40052.0
6071608,-8.09,4.48,-1.90,-11.61,151.00,-8.08,3.92,-2.90,-17.91,154.09,...,534.53,197769.0,ac,9.6,1545249.2,161998.1,-144885.0,1536792.0,238772.0,40052.0
7228603,2.18,-0.75,-4.06,-60.47,341.10,2.18,1.37,-3.90,-56.62,32.15,...,524.08,152005.0,ac,20.8,1526686.2,-206837.7,-152917.4,1536792.0,238772.0,40052.0
2996460,-3.34,2.56,-1.05,-13.96,142.59,-3.34,2.10,-1.79,-24.41,147.83,...,416.20,386112.0,ds,36.0,1446536.7,-170767.2,-65468.6,1583181.0,36390.0,-173488.0
5494924,-0.37,5.25,5.46,46.05,94.03,-0.36,5.00,5.69,48.57,94.13,...,373.21,28128.0,ac,25.0,1451212.2,-194688.0,145096.4,1536792.0,238772.0,40052.0
5166693,2.88,0.25,-2.96,-45.73,5.01,2.88,-0.66,-2.90,-44.45,347.01,...,612.27,142817.0,ac,38.4,1556789.5,73294.0,-112638.4,1536792.0,238772.0,40052.0
6113990,-1.26,1.62,0.05,1.42,127.87,-1.26,1.61,-0.23,-6.41,128.02,...,428.39,35360.0,ac,9.9,1542394.5,-126391.6,-125451.8,1536792.0,238772.0,40052.0
2973675,3.64,-2.97,1.18,14.10,320.70,3.64,-2.66,1.77,21.47,323.76,...,522.80,294841.0,ds,38.5,1487269.3,-250888.4,18042.6,1571046.0,160827.0,-179711.0
7139604,-2.85,2.08,1.92,28.63,143.82,-2.84,1.40,2.47,37.94,153.74,...,381.97,66504.0,ac,14.0,1460509.5,259233.4,87771.7,1536792.0,238772.0,40052.0
6397029,-3.21,4.50,-2.32,-22.78,125.50,-3.20,4.63,-2.06,-20.12,124.65,...,384.67,52245.0,ac,4.8,1466300.7,-212854.4,69375.6,1536792.0,238772.0,40052.0

In [100]:
x_train.isnull().sum()

bx_gse          0
by_gse          0
bz_gse          0
theta_gse       0
phi_gse         0
bx_gsm          0
by_gsm          0
bz_gsm          0
theta_gsm       0
phi_gsm         0
bt              0
density         0
speed           0
temperature     0
source          0
smoothed_ssn    0
gse_x_ace       0
gse_y_ace       0
gse_z_ace       0
gse_x_dscovr    0
gse_y_dscovr    0
gse_z_dscovr    0
dtype: int64

In [101]:
x_train.shape

(4602645, 22)

In [102]:
y_train = merged_df['dst']

In [103]:
y_train.shape

(4602645,)

In [104]:
categorical_columns = x_train.select_dtypes(include=['object']).columns
numerical_columns = x_train.select_dtypes(exclude=['object']).columns

# One-hot encoding for categorical columns
temp_df = pd.get_dummies(x_train, columns=categorical_columns, prefix=categorical_columns)

# Normalization for numerical columns
scaler = MinMaxScaler()
temp_df[numerical_columns] = scaler.fit_transform(x_train[numerical_columns])

In [126]:
#Fitting XGBoost model and testing for validation(considering 20% training data as validationset) and finding RMSE

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import math



# Split the data into training and testing sets
X_train, X_test, y_tra, y_test = train_test_split(temp_df, y_train, test_size=0.2, random_state=42)

# Create an XGBoost regressor model
xgb_model = XGBRegressor(objective='reg:squarederror', random_state=42)

# Train the model on the training set
xgb_model.fit(X_train, y_tra)

# Make predictions on the testing set
y_pred = xgb_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("root mean squared error:",rmse)
print("R-squared:", r2)

Mean Squared Error: 43.16215542309805
root mean squared error: 6.569791124769345
R-squared: 0.8268722030619614

In [107]:

# Applying XGBoost regressor modelon entire dataset
xgb_model2 = XGBRegressor(objective='reg:squarederror', random_state=42)

# Train the model on the training set
xgb_model2.fit(temp_df, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=42, ...)

In [108]:
#reading test datasets

df_test_ssn = pd.read_csv("test_sunspots_smooth.csv")
df_test_solWind = pd.read_csv("test_solar_wind.csv")
df_test_posSat = pd.read_csv("test_positions_sat.csv")

In [109]:
#converting timedelta datatype to time datatype for test datasets

df_test_ssn["timedelta"] = pd.to_timedelta(df_test_ssn["timedelta"])
df_test_solWind["timedelta"] = pd.to_timedelta(df_test_solWind["timedelta"])
df_test_posSat["timedelta"] = pd.to_timedelta(df_test_posSat["timedelta"])

In [110]:
df_test_ssn.head()

   period timedelta  smoothed_ssn
0  test_a    0 days         167.4
1  test_a   30 days         172.0
2  test_a   61 days         175.8
3  test_a   92 days         177.1
4  test_a  122 days         177.3

In [111]:
#Combining all test datafiles into a single merged file

merged_test_df1 = pd.merge(df_test_solWind, df_test_ssn, on=['period','timedelta'], how='left').fillna(method="ffill")
merged_test_df = pd.merge(merged_test_df1, df_test_posSat, on=['period','timedelta'], how='left').fillna(method="ffill")

In [112]:
merged_test_df.head()

,period,timedelta,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,bx_gsm,by_gsm,bz_gsm,...,speed,temperature,source,smoothed_ssn,gse_x_ace,gse_y_ace,gse_z_ace,gse_x_dscovr,gse_y_dscovr,gse_z_dscovr
0,test_a,0 days 00:00:00,-3.35,3.44,-1.01,-11.91,134.18,-3.35,3.59,0.14,...,338.59,41313.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN
1,test_a,0 days 00:01:00,-2.98,3.59,-1.04,-12.52,129.71,-2.98,3.73,0.17,...,339.11,37388.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN
2,test_a,0 days 00:02:00,-3.29,3.46,-1.04,-12.33,133.54,-3.29,3.62,0.12,...,337.70,35715.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN
3,test_a,0 days 00:03:00,-3.39,3.44,-0.79,-9.29,134.57,-3.39,3.51,0.35,...,338.41,38214.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN
4,test_a,0 days 00:04:00,-3.28,3.52,-0.86,-10.13,132.99,-3.28,3.61,0.31,...,336.63,40458.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN

In [243]:
merged_test_df.tail()

,period,timedelta,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,bx_gsm,by_gsm,bz_gsm,...,speed,temperature,source,smoothed_ssn,gse_x_ace,gse_y_ace,gse_z_ace,gse_x_dscovr,gse_y_dscovr,gse_z_dscovr
3551035,test_c,518 days 23:55:00,-3.35,-2.14,2.85,35.69,212.55,-3.35,-1.64,3.16,...,388.3,111784.0,ds,6.2,1519453.9,-200917.3,46496.1,1463208.0,261214.0,146738.0
3551036,test_c,518 days 23:56:00,-2.39,0.21,1.45,31.07,174.91,-2.39,0.45,1.39,...,390.9,123559.0,ds,6.2,1519453.9,-200917.3,46496.1,1463208.0,261214.0,146738.0
3551037,test_c,518 days 23:57:00,-0.78,2.75,-0.39,-7.73,105.85,-0.78,2.65,-0.83,...,411.6,120740.0,ds,6.2,1519453.9,-200917.3,46496.1,1463208.0,261214.0,146738.0
3551038,test_c,518 days 23:58:00,-0.23,3.71,-0.93,-14.01,93.58,-0.23,3.51,-1.52,...,416.6,100777.0,ds,6.2,1519453.9,-200917.3,46496.1,1463208.0,261214.0,146738.0
3551039,test_c,518 days 23:59:00,0.12,3.97,-0.17,-2.47,88.26,0.12,3.89,-0.82,...,415.8,89069.0,ds,6.2,1519453.9,-200917.3,46496.1,1463208.0,261214.0,146738.0

In [247]:
timedelta = list(merged_test_df['timedelta'])

In [249]:
td = timedelta[2803680:3551093]

In [113]:
merged_test_df.shape

(3551040, 24)

In [190]:
test_df = merged_test_df.drop(columns = ['period','timedelta'],axis=1)

In [191]:
test_df.shape

(3551040, 22)

In [192]:
test_df.head()

,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,bx_gsm,by_gsm,bz_gsm,theta_gsm,phi_gsm,...,speed,temperature,source,smoothed_ssn,gse_x_ace,gse_y_ace,gse_z_ace,gse_x_dscovr,gse_y_dscovr,gse_z_dscovr
0,-3.35,3.44,-1.01,-11.91,134.18,-3.35,3.59,0.14,1.65,133.00,...,338.59,41313.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN
1,-2.98,3.59,-1.04,-12.52,129.71,-2.98,3.73,0.17,1.98,128.61,...,339.11,37388.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN
2,-3.29,3.46,-1.04,-12.33,133.54,-3.29,3.62,0.12,1.34,132.29,...,337.70,35715.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN
3,-3.39,3.44,-0.79,-9.29,134.57,-3.39,3.51,0.35,4.09,133.97,...,338.41,38214.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN
4,-3.28,3.52,-0.86,-10.13,132.99,-3.28,3.61,0.31,3.59,132.26,...,336.63,40458.0,ac,167.4,1500809.1,260858.4,-60904.6,NaN,NaN,NaN

In [193]:
test_df.isnull().sum()

bx_gse                0
by_gse                0
bz_gse                0
theta_gse             0
phi_gse               0
bx_gsm                0
by_gsm                0
bz_gsm                0
theta_gsm             0
phi_gsm               0
bt                    0
density               0
speed                 0
temperature           0
source                0
smoothed_ssn          0
gse_x_ace             0
gse_y_ace             0
gse_z_ace             0
gse_x_dscovr    2803680
gse_y_dscovr    2803680
gse_z_dscovr    2803680
dtype: int64

In [194]:
test_df = test_df.dropna()

In [195]:
categorical_columns = test_df.select_dtypes(include=['object']).columns
numerical_columns = test_df.select_dtypes(exclude=['object']).columns

# One-hot encoding for categorical columns
x_test_df = pd.get_dummies(test_df, columns=categorical_columns, prefix=categorical_columns)

# Normalization for numerical columns
scaler = MinMaxScaler()
test_df[numerical_columns] = scaler.fit_transform(test_df[numerical_columns])

In [196]:
# Make predictions on the testing set
y_test_pred = xgb_model.predict(x_test_df)

In [197]:
# test data predictions
y_test_pred = pd.DataFrame(y_test_pred)

In [198]:
y_test_pred.value_counts()

60.289127     19007
138.566025    17079
45.368069     16986
110.915344    16877
102.660622    16542
              ...
50.368847         1
50.344627         1
50.311222         1
50.290791         1
186.501999        1
Name: count, Length: 14167, dtype: int64

In [221]:
type(y_test_pred)

pandas.core.frame.DataFrame

In [220]:
type(test_df)

pandas.core.frame.DataFrame

In [229]:
y_list= list(y_test_pred.values)

In [238]:
#concating predictors with response 
test_df['pred'] = y_list

In [241]:
# predictors with predicted response dst values
test_df.head()

,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,bx_gsm,by_gsm,bz_gsm,theta_gsm,phi_gsm,...,temperature,source,smoothed_ssn,gse_x_ace,gse_y_ace,gse_z_ace,gse_x_dscovr,gse_y_dscovr,gse_z_dscovr,pred
2803680,0.420711,0.366714,0.504978,0.394899,0.765167,0.420140,0.434142,0.502284,0.296395,0.767917,...,0.007240,ds,0.431818,0.740013,0.010311,0.985898,0.699545,0.946878,0.618648,[14.446615]
2803681,0.426958,0.366145,0.513914,0.446294,0.784667,0.426403,0.430676,0.510406,0.349911,0.788417,...,0.008360,ds,0.431818,0.740013,0.010311,0.985898,0.699545,0.946878,0.618648,[27.271944]
2803682,0.426237,0.367568,0.504723,0.393730,0.783361,0.425681,0.435009,0.502284,0.297397,0.789306,...,0.008230,ds,0.431818,0.740013,0.010311,0.985898,0.699545,0.946878,0.618648,[20.662867]
2803683,0.428640,0.365007,0.509829,0.425413,0.789528,0.428090,0.430965,0.506345,0.329996,0.794778,...,0.008623,ds,0.431818,0.740013,0.010311,0.985898,0.699545,0.946878,0.618648,[43.664967]
2803684,0.430802,0.366999,0.513658,0.446072,0.797028,0.430258,0.431254,0.510660,0.352025,0.802028,...,0.008058,ds,0.431818,0.740013,0.010311,0.985898,0.699545,0.946878,0.618648,[45.36807]

In [242]:
test_df.to_csv('Lakers.csv',index = False)

In [244]:
test_df.tail()

,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,bx_gsm,by_gsm,bz_gsm,theta_gsm,phi_gsm,...,temperature,source,smoothed_ssn,gse_x_ace,gse_y_ace,gse_z_ace,gse_x_dscovr,gse_y_dscovr,gse_z_dscovr,pred
3551035,0.335416,0.364154,0.595864,0.698814,0.590417,0.334618,0.437031,0.615482,0.724466,0.572583,...,0.026942,ds,1.0,0.712127,0.115887,0.662271,0.31769,0.993044,0.943184,[14.375682]
3551036,0.358481,0.431010,0.560123,0.673089,0.485861,0.357745,0.497400,0.570558,0.665832,0.470611,...,0.029831,ds,1.0,0.712127,0.115887,0.662271,0.31769,0.993044,0.943184,[12.949763]
3551037,0.397165,0.503272,0.513148,0.457041,0.294028,0.396531,0.560947,0.514213,0.406820,0.295611,...,0.029139,ds,1.0,0.712127,0.115887,0.662271,0.31769,0.993044,0.943184,[48.26639]
3551038,0.410380,0.530583,0.499362,0.422072,0.259944,0.409781,0.585789,0.496701,0.369826,0.260500,...,0.024240,ds,1.0,0.712127,0.115887,0.662271,0.31769,0.993044,0.943184,[48.26639]
3551039,0.418789,0.537980,0.518764,0.486330,0.245167,0.418212,0.596765,0.514467,0.433912,0.245083,...,0.021367,ds,1.0,0.712127,0.115887,0.662271,0.31769,0.993044,0.943184,[48.26639]

In [250]:
y_test_pred['timedelta'] = td

In [254]:
y_test_pred.head()

           0       timedelta
0  14.446615 0 days 00:00:00
1  27.271944 0 days 00:01:00
2  20.662867 0 days 00:02:00
3  43.664967 0 days 00:03:00
4  45.368069 0 days 00:04:00

In [255]:
y_test_pred.tail()

                0         timedelta
747355  14.375682 518 days 23:55:00
747356  12.949763 518 days 23:56:00
747357  48.266392 518 days 23:57:00
747358  48.266392 518 days 23:58:00
747359  48.266392 518 days 23:59:00

In [261]:
y_test_pred.rename(columns={0:"predicted_dst"},inplace= True)

In [263]:
y_test_pred.head()

   predicted_dst       timedelta
0      14.446615 0 days 00:00:00
1      27.271944 0 days 00:01:00
2      20.662867 0 days 00:02:00
3      43.664967 0 days 00:03:00
4      45.368069 0 days 00:04:00

In [264]:
# Final dataset with dst predictions and timedelta
y_test_pred.to_csv('lakersfinal.csv',index = False)